In [1]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('nba-stats/Players.csv', index_col=0)
df.columns

Index(['Player', 'height', 'weight', 'collage', 'born', 'birth_city',
       'birth_state'],
      dtype='object')

In [23]:
born_in_California = df[df['birth_state'] == 'California']
born_in_California

,Player,height,weight,collage,born,birth_city,birth_state
22,Bill Calhoun,190.0,81.0,City College of San Francisco,1927.0,San Francisco,California
50,Bob Feerick,190.0,86.0,Santa Clara University,1920.0,San Francisco,California
74,Alex Hannum*,201.0,95.0,University of Southern California,1923.0,Los Angeles,California
117,John Mandic,193.0,92.0,Oregon State University,1919.0,Los Angeles,California
130,Vern Mikkelsen*,201.0,104.0,Hamline University,1928.0,Fresno,California
...,...,...,...,...,...,...,...
3845,Marquese Chriss,208.0,105.0,University of Washington,1997.0,Sacramento,California
3861,Jonathan Gibson,188.0,83.0,New Mexico State University,1987.0,West Covina,California
3890,David Nwaba,193.0,94.0,"California Polytechnic State University, San L...",1993.0,Los Angeles,California
3894,Gary Payton,193.0,81.0,Oregon State University,1968.0,Oakland,California
3908,Isaiah Taylor,190.0,77.0,University of Texas at Austin,1994.0,Hayward,California

In [42]:
mean = df['height'].mean()

above_mean = df[df['height'] > mean].sort_values(by='height').reset_index()
below_mean = df[df['height'] < mean].sort_values(by='height').reset_index()